
    <!-- Carousel
    ================================================== -->
    <section id="carrousel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag "picada.jpg", :alt => "Fiambres", :title => "Fiambres", :class =>"first-slide" %>
              <div class="container">
                <div class="carousel-caption">
                  <h1>Gran variedad de productos.</h1>
                  <p>Poseemos una gran variedad de productos y sus distintas marcas, para que puedas encontrar la que mas se adapte a tus gustos y necesidades. Registrate para realizar tu pedido Online !!  </p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Registrarse</a></p>
                </div>
              </div>
            </div>
            <div class="item">
               <%= image_tag "lacteos.jpg", :alt => "Lacteos", :title => "Lacteos", :class =>"second-slide" %>
              <div class="container">
                <div class="carousel-caption text-center">
                  <h1>Consulta por nuestros productos lacteos !!!</h1>
                  <p>Distribuimos distintos tipos de productos lacteos, con gran variedad de marcas, no dudes en comunicarte con nosotros, estamos disponibles ante cualquier consulta !! </p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">Contactarse</a></p>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div><!-- /.carousel -->
  </section>
  

